html, body, #root {
  height: 100%;
}

html {
  background-color: #d6ecff;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  color: #61a4de;
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
}

.select-field {
  padding: 5px;
}

select {
  width: 200px;
}

.forecast {
  padding: 50px;
}
